:root
{
  --clr-bg :#000d1a;
  --clr-navbg :#00001a ;
  --clr-red : #ff1a1a ;
  --clr-heading :#d9d9d9 ;
  --clr-subheading :#a6a6a6 ;
}



*, *::after, *::before
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
  
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-bg);
  
  color: var(--clr-heading);
  
}

.section
{
  background-color: var(--clr-bg);
  width: 80%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sec1
{
  height: calc(100vh - 3rem); /* set the section 1 height to add to 100vh*/
}

.nav
{
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px ;
  background-color:var(--clr-navbg);
  position: sticky;
  top: 0px;
  z-index: 1;
}

.nav__trans {
  background: transparent;
}

.nav__logo
{
  color: var(--clr-heading);
  font-size: x-large;
  margin-left: 2rem;
}

.nav__list
{
  width: 20rem;
  display: flex;
  justify-content: space-evenly;
}
.nav__list .link
{
  padding: 0px 4px;
  color: var(--clr-heading);
  cursor: pointer;
  transition: hover ease 1s;
  text-decoration: none;
}

.nav__list > .link:hover
{
  position: relative;
  top :-2px;
  color: var(--clr-subheading);
}


/* hero  */

.hero
{
  color: var(--clr-heading);  /* temp */
  width: 80%;
}


.hero__heading
{
  margin-bottom: 1rem;
  font-size: xx-large;

}

.hero__subheading
{
  margin-bottom: 2rem;
  color: var(--clr-subheading);
  max-width: 90%;
}


.btn
{
  background-color: var(--clr-red);
  border: none;
  padding: 6px 20px;
  color: var(--clr-heading);
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  border: 1px transparent solid;
  transition: hover ease 1s;
}

.btn:hover
{
  border: 1px solid var(--clr-heading);
}


/* section 2 */

.sec2
{
  padding-top: 4rem;
}

.skills
{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

}

.skills .skill__subheading
{
  margin-bottom: 1rem;
}

.skills .skill__heading
{
  color: var(--clr-red);
  font-size: xx-large;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight:bolder;
  border-bottom: var(--clr-red) 4px solid;
  padding-bottom: 10px;
}

.skills .grid
{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 width: 100%;
 height: 100%;
 margin: 4rem 0;
}


.grid .skill__item
{
  width: 300px;
  border: 2px solid white;
  margin:20px ;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.076);
  backdrop-filter: blur(10px);
  transition: all ease 0.8s;
}

.grid .skill__item:nth-child(even):hover {
  box-shadow: 10px 10px rgba(255, 0, 0, 0.9) ;
}

.grid .skill__item:nth-child(odd):hover {
  box-shadow: -10px 10px rgba(255, 255, 255, 0.9) ;
}

 .grid .item__header
 {
  margin: 5px 0 10px 0;
 }
.grid .skill__item__para
{
  color: var(--clr-subheading);
}


/* section 3 */

.sec3
{
  justify-content: center;

}

.connect
{
  width: 90% ;
  max-width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:24px;
  background-color: #ffffff17;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: rgba(255, 0, 0, 0.627) 6px solid;
  padding: 10px 30px;

}

.connect__heading
{
  font-size: xx-large;
  color: var(--clr-red);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  align-self:self-start;
  margin-bottom: 10px;
}

.connect__email, .connect__message
{
  min-width: 12rem;
  width: 60%;
  height: 3rem;
  background-color: rgba(245, 245, 245, 0.151);
  color: var(--clr-bg);
  border:none;
  border-radius: 4px;
  padding-left: 10px;
  font-size: larger;
}

.connect__btn
{
  align-self: center;
}



/* footer */
.footer {
  width: 100%;
  min-height:4rem ;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.118);
}

.footer .footer__list {
  list-style: none;
  padding: 0 10px;

}



/* scroll animation  */
.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition:all  ease 1s;
  filter: blur(4px);

}

.show {
  
  transform: translateX(0);
  filter: blur(0px);
  opacity: 1;

}


/* responsive skill section heading */

@media  screen and (max-width:400px) {
  .skills > .skill__subheading, .skill__heading {
    position: relative;
    left: 35px;
  }
  .grid .skill__item {
    width: 230px;
  }
  .nav__logo {
    margin-left: 1rem;
  }
}